@charset "utf-8";

:root {
    --background: #fafafa;
    --main-text: #000000;

    --body-background: #ffffff;
    --card-background: #fafafa;
    --onepoint-color: #e9e9e9;

    --shadow: #000000;

    --theme-color: #78c90b;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000;
        --main-text: #ffffff;

        --body-background: #222222;
        --card-background: #2a2a2a;
        --onepoint-color: #3b3b3b;
    }
}

body {
    background-color: var(--background);
    color: var(--main-text);
    
    font-size: 18px;
    font-family: sans-serif;
    max-width: 1280px;
}

.wrapper {
    background-color: var(--card-background);
    max-width: 860px;
    margin: 0 auto;
    padding: 2rem;
}

main {
    background-color: var(--onepoint-color);
    padding: 1rem;
}

main div {
    margin: 1rem 0rem;
}

.slider input {
    width: 100%;
}

.button button {
    border: none;
    cursor: pointer;
    outline: none;
    appearance: none;
    width: 100%;
    max-width: 300px;
    background-color: var(--theme-color);
    color: white;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
}

#result {
    width: 100%;
}